body{
	color: #6841f4;
	background-color: #42eef4;
	font-family: helvetica;
}


}

a:hover{
	color: green;
	background-color: white;


}

h3,h4,h5{
	font-family: Verdona;
	font-size: 20px;

}

.nav{
	list-style: none;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	background-color:#41cdf4;
	

}

li a{
	text-decoration: none;
	display: block;
	text-align: center;
	float: right;
	padding: 15px;
	color: ;
}

.image1{
	border-radius: 250px;
	border-style: solid;
	border-color: gold;
}


#Home {
	text-align: center;
}

.SkillList{
	font-weight: bold;
	font-family: Times;
	list-style: none;

}

.heading{
	font-family: Courier New;
	font-weight: bold;

}

h1{
	font-family: Palatino;
	text-align: center;
	color: #415cf4; 
	
}
.icons{    
	display: ruby-base;
	font-size: 50px;
}

p{
	font-size: 23px;
}

.award{
	list-style: none;
	font-size: 22px;
	line-height: 1.5;
}

.career{
	font-size: 22px;
}

.skill{
	font-size: 20px;
}

form{
	font-size: 20px;
}

.fa{
	padding-top: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin:5px 2px;

	}
.fa:hover{
	opacity: 0.7;
		}


.fa-facebook{
			background: #3B5998;
			color: white;
		}
.fa-twitter{
			background: #55ACEE;
			color: white;
		}
.fa-google{
			background: #dd4b39;
			color: white;
			margin-top: 10px;
		}
.fa-linkedin{
			background: #007bb5;
			color: white;
		}
form{
			background-color: antiquewhite;
			color: darkolivegreen;
			width: 100%;


		}
form text{
			margin-top: 10px;
		}
input{
			background-color: burlywood;
			border-style: ridge;
			border-color: aqua;
		}
button{
			background-color: blue;
			border-style: solid;
			border-color:gold ;
			color: white;
			width: 15%;
			height: 40px;
			margin-top: 10px;
		}
textarea{
			background-color: burlywood;
			border-style:groove ;
			border-color:aqua;
			color: black;
			margin-top: 10px;
		}
		
